{{#if "globalMessage"}}
	<div class="alert">{{globalMessage}}</div>
{{/if}}

<ul>
	<li>Users</li>
	<ul>
		<li><a href="#" id="listUsers">List</a></li>
		<li><a href="#" id="addUser">Add</a></li>
	</ul>
	<li>Groups</li>
	<ul>
		<li><a href="#" id="listGroups">List</a></li>
		<li><a href="#" id="addGroup">Add</a></li>
	</ul>
</ul>