<h3>Add group</h3>

<div>
	<form id="addGroupForm" action="#" method="post">
		<div>
			<label for="name">Group name:</label>
			<input name="name" id="name" type="text" required="true">
		</div>
		<div>
			<label for="description">Description:</label>
			<input name="description" id="description" type="text" required="true">
		</div>
		<div>
			<input type="submit" id="addGroupBtn" value="Save"/>
		</div>
	</form>
</div>

<a href="#" class="return">Return</a>