<h1>{{title}}</h1>


<form name='addUser' method="post" action="/users/adduser">
	<div>
		<input type="text" name="username"/>
	</div>

	<div>
		<input type="email" name="email"/>
	</div>
	
	<div>
		<input type="submit" value="Add user"/>
	</div>
</form>
